<mat-toolbar class="home">
  <img src="../../assets/Ticket.svg">
  <span class="example-spacer"></span>
  <button class="button-header"[routerLink]="'/login'">
    Login
  </button>
  <a href="https://github.com/cesar-a-jr">
    <button class="button-header">
      <fa-icon size="lg" [icon]="faGithub"></fa-icon >
    </button>
  </a>
  <a href="https://www.instagram.com/dicas_do_front/">
    <button class="button-header">
      <fa-icon size="lg" [icon]="fainstagram"></fa-icon >
    </button>
  </a>
</mat-toolbar>

<main class="aria">
  <div class="left">
    <h1>Seus filmes favoritos em um só lugar</h1>
    <img class="img-content" src="../../assets/Ticket.svg" >
    <button class="button-content"[routerLink]="'/login'">Login</button>
  </div>
</main>



